<!-- -*- mode: XML -*- -->
<launch>

	<!-- Load joint controller configurations from YAML file to parameter server -->
	<rosparam file="$(find rrcar_control)/config/rrcar_control.yaml" command="load"/>

	<!-- load the controllers -->
	<node name="rrcar_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" ns="rrcar" args="diff_drive_controller joint_state_controller"/>
	<rosparam file="$(find rrcar_control)/config/diff_drive_control.yaml" command="load"/>

</launch>
