<!-- -*- mode: XML -*- -->
<launch>

	<arg name="manager" default="vesc_nodelet_manager" />

	<!-- Load joint controller configurations from YAML file to parameter server -->
	<rosparam file="$(find rrcar_control)/config/rrcar_control.yaml" command="load"/>

	<!-- load controllers -->
	<node name="rrcar_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" ns="rrcar" args="wheel_left/velocity_controller wheel_right/velocity_controller joint_state_controller"/>

	<node name="rrcar_controller" pkg="rrcar_control" type="rrcar_control" ns="rrcar"/>

	<node name="$(arg manager)" pkg="nodelet" type="nodelet" args="manager" output="screen" ns="rrcar" />

	<!-- load VESC driver -->
	<include file="$(find vesc_driver)/launch/vesc_driver_nodelet.launch" ns="rrcar/wheel_left">
		<arg name="node_name" value="vesc_wheel_l"/>
		<arg name="start_manager" value="false"/>
		<arg name="manager" value="/rrcar/$(arg manager)"/>
		<arg name="port" value="/dev/ttyACM0"/>
	</include>

	<include file="$(find vesc_driver)/launch/vesc_driver_nodelet.launch" ns="rrcar/wheel_right">
		<arg name="node_name" value="vesc_wheel_r"/>
		<arg name="start_manager" value="false"/>
		<arg name="manager" value="/rrcar/$(arg manager)"/>
		<arg name="port" value="/dev/ttyACM1"/>
	</include>

	<node name="rrcar_driver_nodelet" pkg="nodelet" type="nodelet" args="load rrcar_control/RRCarDriverNodelet $(arg manager)" output="screen" ns="rrcar" />
</launch>
