<launch>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
		<arg name="world_name" value="$(find rrcar_description)/worlds/empty.world"/>
	</include>

	<param name="robot_description" command="$(find xacro)/xacro '$(find rrcar_description)/robots/rrcar.urdf.xacro'"/>

	<!-- push robot_description to factory and spawn robot in gazebo -->
	<node name="rrcar_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model rrcar -z 1" />

	<node name="rrcar_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<!-- convert joint states to TF transforms for rviz, etc -->
	<node name="rrcar_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
		respawn="false" output="screen">
		<remap from="/joint_states" to="/rrcar/joint_states" />
	</node>


</launch>
